{% style %}
  #custom--video {
    height: {{ section.settings.desktop_height }}
    px;
  },
  h2.video--heading.my_heading {
    ;
    /* font-size: 100px; */
    /* font-size: {{ section.settings.heading_font_size }}px !important; */
  }

  .custom-video--text p {
    font-size: {{ section.settings.paragraph_font_size }}
    px !important;
  }

  @media screen and (max-width: 480px) {
    #custom--video {
      height: {{ section.settings.mobile_height }}
      px;
    }

    h2.video--heading.my_heading {
      font-size: {{ section.settings.heading_font_size_mobile }}
      px !important;
    }

    .custom-video--text p {
      font-size: {{ section.settings.paragraph_font_size_mobile }}
      px !important;
    }
  }
{% endstyle %}

<section class="custom-video--main custom-video--{{ section.id }}">
  <div class="custom-video--inner">
    <div class="custom-video--container">
      <video
        id="custom--video"
        width="100%"
        loop
        muted
        autoplay
        poster="{{ section.settings.poster_url }}"
        preload="metadata"
        playsinline
        object-fit="cover">
        <source src="{{ section.settings.video_url }}" type="video/mp4">
      </video>
      <div class="custom-video--text">
        <h2 style="font-size: {{ section.settings.heading_font_size }}px" class="video--heading my_heading">
          {{ section.settings.video_heading }}
        </h2>
        <p class="banner__text body">{{ section.settings.video_text }}</p>
        <a href="{{ section.settings.video_btn_link }}" class="button button--secondary">
          {{- section.settings.video_btn_text -}}
        </a>
      </div>
    </div>
    {% if section.settings.show_overlay %}
      <div id="overlay-new"></div>
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Video Banner",
    "settings": [
      {
        "type": "url",
        "id": "video_url",
        "label": "Video Url"
      },
      {
        "type": "text",
        "id": "video_heading",
        "label": "Heading",
        "default": "Endless Possibility"
      },
      {
        "type": "textarea",
        "id": "video_text",
        "label": "Text",
        "default": "Product Name"
      },
      {
        "type": "text",
        "id": "video_btn_text",
        "label": "Button Text",
        "default": "Buy now"
      }, {
        "type": "range",
        "id": "heading_font_size",
        "min": 25,
        "max": 80,
        "step": 1,
        "unit": "px",
        "label": "Heading Font Size",
        "default": 25
      }, {
        "type": "range",
        "id": "paragraph_font_size",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Paragraph Font Size",
        "default": 16
      }, {
        "type": "url",
        "id": "video_btn_link",
        "label": "Button URL"
      }, {
        "type": "header",
        "content": "Video Desktop Height"
      }, {
        "type": "select",
        "id": "desktop_height",
        "label": "Height",
        "options": [
          {
            "value": "750",
            "label": "750px"
          }, {
            "value": "650",
            "label": "650px"
          }, {
            "value": "550",
            "label": "550px"
          }, {
            "value": "450",
            "label": "450px"
          }
        ],
        "default": "750"
      }, {
        "type": "header",
        "content": "Video Mobile Height"
      }, {
        "type": "select",
        "id": "mobile_height",
        "label": "Height",
        "options": [
          {
            "value": "300",
            "label": "300px"
          }, {
            "value": "400",
            "label": "400px"
          }, {
            "value": "500",
            "label": "500px"
          }, {
            "value": "600",
            "label": "600px"
          }
        ],
        "default": "600"
      }, {
        "type": "header",
        "content": "Mobile Font Size"
      }, {
        "type": "range",
        "id": "heading_font_size_mobile",
        "min": 12,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Heading Font Size",
        "default": 30
      }, {
        "type": "range",
        "id": "paragraph_font_size_mobile",
        "min": 12,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Paragraph Font Size",
        "default": 16
      }, {
        "type": "checkbox",
        "id": "show_overlay",
        "label": "Add Overlay",
        "default": true
      }

    ],
    "presets": [
      {
        "name": "Video Banner"
      }
    ]
  }
{% endschema %}